/****************************************************************************************//**
* \file admin_styles.css																	*
* \brief The CSS for the BMLTPlugin class (Admin options).									*
* \version 1.0.0																			*
* \license Public Domain -No restrictions at all.											*
********************************************************************************************/

.BMLTPlugin_Admin_h1,
.BMLTPlugin_toolbar_line,
.BMLTPlugin_toolbar_line_bottom,
.BMLTPlugin_Message_bar_success,
.BMLTPlugin_Message_bar_fail
{
	text-align:center;
}

.BMLTPlugin_Message_bar_div
{
	border:1px solid #6cf;
	margin-right: 12px;
	padding: 8px;
	background:white;
}

.BMLTPlugin_option_fieldset
{
	border-left:1px solid #6cf;
	border-right:1px solid #6cf;
	border-top:1px solid #6cf;
	margin-top:8px;
	margin-right: 12px;
	padding: 8px;
}

.BMLTPlugin_toolbar_line_bottom
{
	border-left:1px solid #6cf;
	border-right:1px solid #6cf;
	border-bottom:1px solid #6cf;
	margin-right: 12px;
	padding: 8px;
}

.BMLTPlugin_option_fieldset .BMLTPlugin_toolbar_line
{
	margin-right: 0px;
}

.BMLTPlugin_toolbar_button_line_left,
.BMLTPlugin_toolbar_button_line_right
{
	text-align: center;
	width: 45%
}

.BMLTPlugin_toolbar_button_line_left
{
	float: left;
}

.BMLTPlugin_toolbar_button_line_right
{
	float: right;
}

.BMLTPlugin_legend
{
	margin: 8px;
	padding-left:4px;
	padding-right:4px;
}

.BMLTPlugin_Message_bar_success
{
	color:green;
}

.BMLTPlugin_Message_bar_fail
{
	color:red;
}
.BMLTPlugin_Message_bar_success,
.BMLTPlugin_Message_bar_fail
{
	margin:0;
	padding:0;
}


.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_delete_button
{
	background-color:#f96;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_delete_button:hover
{
	background-color:red;
	color:white;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_create_button
{
	background-color:#6f6;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_create_button:hover
{
	background-color:green;
	color:white;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_toolbar_button_save_disabled,
.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_toolbar_button_save_disabled:hover
{
	border:1px solid #999;
	background-color:#ccc;
	color:#999;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_toolbar_button_save_enabled
{
	background-color:#fcf;
	color:#333;
}

.BMLTPlugin_toolbar_line_bottom .BMLTPlugin_toolbar_button_save_enabled:hover
{
	background-color:#939;
	color:white;
}

.BMLTPlugin_option_sheet_line_root_server_text
{
	width: 100%;
}
