table#bmlt_container *
{
    margin:auto;
}

table#bmlt_container div#c_comdef_search_specification_map_div
{
    height: 640px;
}

table#bmlt_container div#c_comdef_search_specification_map_div,
table#bmlt_container div.c_comdef_search_results_map_container_div
{
	width: 100%;
	position: relative;
    height: 640px;
}

table#bmlt_container a.c_comdef_search_specification_map_invis_a,
table#bmlt_container a.c_comdef_search_specification_map_vis_a
{
    padding-top:8px;
    padding-bottom:8px;
}

table#bmlt_container fieldset,
table#bmlt_container legend
{
    background: none;
    padding: 0;
}

table#bmlt_container label
{
    color: black;
}

table#bmlt_container div.bmlt_search_one_weekday_div
{
    width: 19%;
}

table#bmlt_container div.bmlt_search_one_format_div
{
    width:9%;
}

table#bmlt_container div.search_radius_div
{
    margin-top:8px;
}

table#bmlt_container dd.bmlt_search_one_service_body_dd,
table#bmlt_container dt.bmlt_search_one_service_body_dt
{
    margin-left:1em;
}

table#bmlt_container label.result_type_advanced_label,
table#bmlt_container label.bmlt_advanced_radius_label,
table#bmlt_container label.bmlt_result_type_label
{
    margin-right:4px;
}