table#bmlt_container .no_js
{
	text-align:center;
	font-weight:bold;
	font-size: large;
	color:red;
}

table#bmlt_container.bmlt_container_table
{
	text-align: center;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

table#bmlt_container .c_comdef_search_specification_map_vis_a,
table#bmlt_container .c_comdef_search_specification_map_invis_a
{
	text-align: center;
	font-size: medium;
	font-weight:bold;
}

table#bmlt_container div
{
	text-align:center;
}

table#bmlt_container fieldset div
{
	text-align:left;
}

table#bmlt_container input.c_comdef_search_specification_search_string_text
{
	width: 30em;
}

table#bmlt_container tr.c_comdef_search_results_header_row a,
table#bmlt_container tr.c_comdef_search_results_header_row a:visited,
table#bmlt_container div.bmlt_menu_div a,
table#bmlt_container div.bmlt_menu_div a:visited,
table#bmlt_container div.c_comdef_search_results_single_header_div h1 a,
table#bmlt_container div.c_comdef_search_results_single_header_div h1 a:visited,
table#bmlt_container div.close_div a,
table#bmlt_container div.close_div a:visited,
table#bmlt_container div.marker_main_info_window_inner_div a,
table#bmlt_container div.marker_main_info_window_inner_div a:visited
{
	display:block;
	background-color: #555;
	outline: none;
	color: #99f;
	text-decoration: underline;
	font-weight:bold;
}

table#bmlt_container div.comdef_style_result_nav_header a,
table#bmlt_container div.comdef_style_result_nav_header a:visited
{
	outline: none;
	color: #99f;
	text-decoration: underline;
	font-weight:bold;
}

table#bmlt_container div.comdef_style_result_nav_header a:hover,
table#bmlt_container div.comdef_style_result_nav_header a:active
{
	outline: none;
	color: #f96;
	text-decoration: none;
}

table#bmlt_container div.filter_message_div_list_container div,
table#bmlt_container div.filter_message_div
{
	text-align: left;
}

table#bmlt_container tr.c_comdef_search_results_header_row a:hover,
table#bmlt_container tr.c_comdef_search_results_header_row a:active,
table#bmlt_container div.bmlt_menu_div a:hover,
table#bmlt_container div.bmlt_menu_div a:active,
table#bmlt_container div.c_comdef_search_results_single_header_div h1 a:hover,
table#bmlt_container div.c_comdef_search_results_single_header_div h1 a:active,
table#bmlt_container div.close_div a:hover,
table#bmlt_container div.close_div a:active,
table#bmlt_container div.marker_main_info_window_inner_div a:hover,
table#bmlt_container div.marker_main_info_window_inner_div a:active
{
	outline: none;
	color: #f96;
	text-decoration: none;
}

table#bmlt_container div.bmlt_menu_div
{
	text-align: center;
}

table#bmlt_container div.bmlt_menu_div a,
table#bmlt_container div.bmlt_menu_div a:visited
{
	line-height: 1.75em;
}

table#bmlt_container div.c_comdef_search_results_map_container_div
{
	width: 100%;
	position: relative;
	height: 700px;
}

table#bmlt_container div.bmlt_menu_div,
table#bmlt_container div.bmlt_menu_div a,
table#bmlt_container div.bmlt_menu_div a:visited,
table#bmlt_container div.c_comdef_search_results_single_div,
table#bmlt_container div.c_comdef_search_results_single_div div.c_comdef_search_results_single_header_div,
table#bmlt_container div.c_comdef_search_results_single_div div.c_comdef_single_container,
table#bmlt_container div.c_comdef_search_results_single_div div.c_comdef_single_container div.c_comdef_single_data_div
{
	margin:0;
	margin-left:0;
	margin-right:0;
	width:auto;
	border:none;
}

table#bmlt_container div.c_comdef_search_results_single_div div.c_comdef_single_container div.embedded_map_div
{
	margin-left:0;
	margin-right:0;
	width:auto;
}

table#bmlt_container div.c_comdef_search_results_single_div h1
{
	font-size: xx-large;
	line-height: normal;
}

table#bmlt_container div.c_comdef_search_results_single_close_box_div a,
table#bmlt_container div.c_comdef_search_results_single_close_box_div a:visited
{
	color: white;
}

table#bmlt_container div.c_comdef_search_results_single_close_box_div a:hover,
table#bmlt_container div.c_comdef_search_results_single_close_box_div a:active
{
	color: red;
}

/**
	This is the links inside the marker info window.
*/
table#bmlt_container .marker_info_window_div .marker_more_info_a,
table#bmlt_container .marker_info_window_div .marker_more_info_a:visited
{
	padding: 4px;
	margin-top: 4px;
	text-align: center;
	display:block;
	background-color: #555;
	outline: none;
	color: #99f;
	text-decoration: underline;
}

/**
	and hovered.
*/
table#bmlt_container .marker_info_window_div .marker_more_info_a:hover,
table#bmlt_container .marker_info_window_div .marker_more_info_a:active
{
	outline: none;
	color: #f96;
	text-decoration: none;
}

table#bmlt_container div.c_comdef_search_specification_form_header_div a.bmlt_spec_tab_selected,
table#bmlt_container div.c_comdef_search_specification_form_header_div a.bmlt_spec_tab_selected:visited,
table#bmlt_container div.c_comdef_search_specification_form_header_div a.bmlt_spec_tab_selected:hover,
table#bmlt_container div.c_comdef_search_specification_form_header_div a.bmlt_spec_tab_selected:active
{
	outline: none;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #eee;
	color: black;
	cursor:default;
	text-decoration:none;
}

table#bmlt_container div.c_comdef_search_specification_form_header_div a.bmlt_spec_tab,
table#bmlt_container div.c_comdef_search_specification_form_header_div a.bmlt_spec_tab:visited
{
	background-color: #555;
	color: #99f;
	border-top:1px solid #eee;
	border-bottom: 1px solid black;
	text-decoration: underline;
}

table#bmlt_container div.c_comdef_search_specification_form_header_div a.bmlt_spec_tab:hover,
table#bmlt_container div.c_comdef_search_specification_form_header_div a.bmlt_spec_tab:active
{
	outline: none;
	background-color: #999;
	color: #933;
	text-decoration: none;
}

/**
	This is what the links in the map (not string) look like.
	This is just the disclosure link.
*/
table#bmlt_container .c_comdef_search_specification_map_vis_a,
table#bmlt_container .c_comdef_search_specification_map_vis_a:visited,
table#bmlt_container .c_comdef_search_specification_map_invis_a,
table#bmlt_container .c_comdef_search_specification_map_invis_a:visited
{
	display: block;
	height: 16px;
	font-weight: bold;
	color: #00c;
	text-decoration: underline;
}

/**
	This is what the disclosure link looks like hovered.
*/
table#bmlt_container .c_comdef_search_specification_map_vis_a:active,
table#bmlt_container .c_comdef_search_specification_map_vis_a:hover,
table#bmlt_container .c_comdef_search_specification_map_invis_a:active,
table#bmlt_container .c_comdef_search_specification_map_invis_a:hover
{
	color: #c03;
	text-decoration: none;
}

/**
	This is the way that links in the header area look "at rest."
*/
table#bmlt_container .comdef_style_result_count_header a.c_comdef_map_link_header_a,
table#bmlt_container .comdef_style_result_count_header a.c_comdef_map_link_header_a:visited
{
	outline: none;
	color: #99f;
	text-decoration: underline;
}

/**
	This is how the links look when they are being rolled over.
*/
table#bmlt_container .comdef_style_result_count_header a.c_comdef_map_link_header_a:hover,
table#bmlt_container .comdef_style_result_count_header a.c_comdef_map_link_header_a:active
{
	outline: none;
	color: #f96;
	text-decoration: none;
}

/**
	Links in the meeting text look like this "at rest."
*/
table#bmlt_container .c_comdef_search_results_table tbody .c_comdef_search_results_meeting_list_a,
table#bmlt_container .c_comdef_search_results_table tbody .c_comdef_search_results_meeting_list_a:visited
{
	outline: none;
	border: none;
	display: block;
	width: 100%;
	height: 100%;
	padding: 2px;
	color: #339;
	text-decoration: underline;
}

/**
	When moused over, they look like this.
*/
table#bmlt_container .c_comdef_search_results_table tbody .c_comdef_search_results_meeting_list_a:active,
table#bmlt_container .c_comdef_search_results_table tbody .c_comdef_search_results_meeting_list_a:hover
{
	outline: none;
	background-color: #555;
	color: white;
	text-decoration: none;
}

/**
	Ensures that the formats are displayed left-justified.
*/
table#bmlt_container .c_comdef_search_results_formats_div
{
	text-align: left;
}
